<section>
    <h1>Currency Exchanger</h1>
    <div>
        <form novalidate>
            <div class="flex-1">
                <span>
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" id="amount" [(ngModel)]="formElement.amount" />
                </span>
                <span>
                    <input type="text" name="rate" id="rate" [(ngModel)]="formElement.rate" />
                </span>
            </div>
            <div class="flex-2">
                <span>
                    <label for="from">From </label>
                    <select name="from" [disabled]="!formElement.amount">
                        <option *ngFor="let symbol of symbols" [value]="symbol" [selected]="symbol == 'EUR'">
                            {{ symbol }}
                        </option>
                    </select>
                </span>
                <span> <img src="../assets/icon/swap.png" /><br /> </span>
                <span>
                    <label for="to">To </label>
                    <select name="to" [disabled]="!formElement.amount" [(ngModel)]="formElement.to">
                        <option *ngFor="let symbol of symbols" [value]="symbol" [selected]="symbol == 'USD'">
                            {{ symbol }}
                        </option>
                        <!-- <option value="USD" selected>USD</option>
                            <option value="INR">INR</option>
                            <option value="GBP">GBP</option> -->
                    </select>
                </span>
                <span style="grid-column: 1 / 4">
                    <button [disabled]="!formElement.amount" (click)="convert()">convert</button>
                </span>
                <span>
                    <input type="text" readonly="true" name="converted_value" [value]="formElement.convertedValue" />
                </span>
                <span> <button>More Details</button> </span>
            </div>
        </form>
    </div>
</section>

<div class="grid-container">
    <div *ngFor="let popular of popularCurrency" class="grid-item">100 {{ popular }}</div>
</div>
